:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --titles-text: black;
  --contacts-color: #ffffff99;
  --white: #ffffff;
  --background-color: #ffffff;
  --button-color: #188ce8;
  --black-accent: #2f303a;
  --icon-color: #afb1b8;
  --button-portfolio: #f5f4fa;
  --button-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* utility */

/* logo */

/* position */
.work {
  display: flex;
  flex-wrap: wrap;
}
.work__item {
  flex-basis: calc((100% - 90px) / 3);
  margin: auto;
}
.work__group {
  position: relative;
}
.work__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}

/* Form */

/* hover profile */
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
}

/* .profile-block:hover::before {
  border: 1px solid var(--accent-color);
} */
.customers__link:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.customers__link:focus {
  fill: var(--accent-color);
  outline-color: var(--accent-color);
}

.icons__svg {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
}
.icons__item:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
}
.icons__link:focus {
  outline: none;
  fill: var(--white);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.icons__link:focus .icons__svg {
  fill: var(--white);
}
.icons__item:hover .icons__svg,
.icons__item:focus .icons__svg {
  fill: var(--white);
}

.join__item:hover,
.join__item:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.join__link:focus {
  outline: none;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.join__link:hover .join__icons {
  fill: var(--white);
}

.experience__list:hover,
.experience__list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* hero */

.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.hero {
  margin: 0 auto;
  background: var(--black-accent);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid#C4C4C4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../image/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* main */

/* Decorations */
.profile__block::before {
  display: block;
  content: "";
  background-image: url(../icons/antena.svg);
  background-size: 65.32px 70px;
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  border: 1px solid transparent;
  background-color: #f5f4fa;

  margin-bottom: 30px;
}
.profile__block:nth-child(2)::before {
  background-image: url(../icons/clock.svg);
}
.profile__block:nth-child(3)::before {
  background-image: url(../icons/diagram.svg);
}
.profile__block:nth-child(4)::before {
  background-image: url(../icons/astronaut.svg);
}

/* Icons section */
.icons {
  display: flex;
  justify-content: center;
  padding: 16px 32px 0 32px;
}

.icons__item {
  border-radius: 50%;
  display: flex;
  flex-basis: calc((100% - 30px) / 4);
  margin-right: auto;
}

.icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.icons__svg {
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* customers */

.customers {
  display: flex;
  justify-content: space-between;
}

.customers__link {
  height: 92px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
}
.customers__logo {
  height: 47px;
  width: 82.9px;
  justify-content: center;
  border-radius: 4px;
  fill: var(--social-icons-color);
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* .customers-flex > .customers-link {
  height: 100%;
  width: 100%;
} */

/* button */

/* section */
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section--zero-pdng {
  padding-top: 0;
}
.profile {
  width: 1200 px;
  /* padding: 94px 0; */
  margin: 0 auto;
  display: flex;
}
/* .profile-block {
  width: calc((100% - 3 * var(--main-margin)) / 4);
} */
.profile__block:not(:last-child) {
  margin-right: 30px;
}

.team {
  display: flex;
  flex-wrap: wrap;
}
.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.team__member {
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  font-weight: 500;
}
.team__prof {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.team__description {
  text-align: center;
  align-self: auto;
}
.team > .team__description {
  flex-basis: calc((100% - 120px) / 4);
  background: var(--white);
  box-shadow: var(--button-shadow);
  border-radius: 4px;
}

.team > .team__description {
  margin-left: 30px;
  align-items: center;
}
.team__description:nth-child(1) {
  margin-left: 0;
}
.section--purple {
  background: #f5f4fa;
}
.profile__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.profile__info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* footer */
.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

/* .footer-part {
  background-color: var(--bg-hero-footer);
  padding: 60px 0;
}
.footer-part ul {
  margin-top: 20px;
  justify-content: space-between;
} */

.footer__address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-bottom: 9px;
  margin-top: 20px;
  display: inline-block;
}
.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:first-child {
  margin-bottom: 9px;
}

.join {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.join__title,
.sbscrb__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.join__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
}

.join__item {
  border-radius: 50%;
  flex-basis: calc((100% - 30px) / 4);
  display: flex;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.join__icons {
  fill: var(--white);
  width: 20px;
  height: 20px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sbscrb {
  margin-left: auto;
}
.sbscrb__form {
  display: flex;
}

.sbscrb__title {
  padding-bottom: 20px;
}

.sbscrb__label input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 358px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  margin-right: 12px;
  font-size: 16px;
  line-height: 1.31;
  padding: 15px 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sbscrb__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-color: transparent;
  fill: currentColor;
  margin-right: 10px;
}
.sbscrb__icon {
  bottom: -1;
  margin-left: 10px;
}

/* Portfolio part */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.nav-portfolio {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-portfolio .nav-portfolio__list + .nav-portfolio__list {
  margin-left: 8px;
}

.description > h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.description > p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.98;
  letter-spacing: 0.03em;
  color: #757575;
}
.experience__list {
  width: 370px;
  cursor: pointer;
}
/* .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

/* .link-port {
  display: inline-block;
} */
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.experience {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.experience > .experience__list {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.description {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.experience__group {
  position: relative;
  overflow: hidden;
}
.overlay-prtfl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.experience__list:hover .overlay-prtfl {
  transform: translatex(0);
}
.overlay-prtfl > p {
  font-size: 18px;
  line-height: 1.555;
  weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
}
